<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJS Webpack</title>
</head>
<body>
<%= htmlWebpackPlugin.files.webpackManifest %>
<ui-view></ui-view>
</body>
</html>